.chat-wrapper {
  padding: 1rem !important;
  overflow: auto;
  background: #000080;
  color: #fff;
}
.chat-wrapper.true {
  background: #222;
}
.chat-wrapper .chat-header * {
  color: #fff;
  text-align: center;
}
.chat-wrapper .chat-messages {
  min-height: 200px;
  max-height: 50vh;
  background: #ddf;
  border-radius: 0.25rem;
  padding: 1rem;
  overflow: auto;
}
@media (max-width: 889px) {
  .chat-wrapper .chat-messages {
    max-height: unset;
    height: 50vh;
    width: 90vw;
  }
}
.chat-wrapper .chat-messages .chat-label {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.chat-wrapper .chat-messages .chat-bubble {
  position: relative;
  background: #fff;
  border-radius: 0.4em;
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  white-space: pre-wrap;
}
.chat-wrapper .chat-messages .chat-bubble a {
  color: #000080;
  text-decoration: underline;
}
.chat-wrapper .chat-messages .chat-bubble::after {
  content: '';
  position: absolute;
  top: 100%;
  width: 0;
  height: 0;
  border: 1rem solid transparent;
  margin-top: -1.2rem;
}
.chat-wrapper .chat-messages .chat-bubble.right::after {
  right: 0;
  border-left-color: #fff;
  border-right: 0;
  border-bottom: 0;
  margin-right: -14px;
}
.chat-wrapper .chat-messages .chat-bubble.left {
  background: #6fc1ff;
}
.chat-wrapper .chat-messages .chat-bubble.left::after {
  left: 0;
  border-right-color: #6fc1ff;
  border-left: 0;
  border-bottom: 0;
  margin-left: -14px;
}
.chat-wrapper .chat-messages,
.chat-wrapper input,
.chat-wrapper textarea {
  color: #222;
}
.chat-wrapper .quick-replies {
  display: flex;
  flex-flow: row wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}
.chat-wrapper .quick-replies button {
  white-space: nowrap;
  margin: 0.5rem;
  display: block;
}
