<div class="row form-group">
  <div class="col col-xs-12" style="background: #4ac967aa">
    <h3 class="text-center">
      <%= direction == :arriving ? 'Outbound To' : 'Inbound From' %> Australia Flight List
    </h3>
  </div>
</div>
