<% provide :title, "Flight List - #{operator} - #{Time.now.strftime('%Y-%b-%d_%H-%M-%S').upcase}" %>
<div class="row form-group">
  <div class="col col-xs-12">
    <table class="table table-sm spread-cells">
      <thead>
        <tr class="print-bg-info">
          <th>
            <h3>
              <%= operator %>
            </h3>
          </th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
