<row>
  <columns small="6" large="4">
    <%= image_tag "rep-profile-lynda.png", class: 'full', alt: "Lynda Hillyard" %>
  </columns>
  <columns small="6" large="8">
    <div class="pl">
      <p>
        <strong>
          Lynda Hillyard
        </strong>
      </p>
      <p>
        Lynda works with customer service. She lives in Logan, Utah, and joined our team in 2001. She loves to ski, and her favorite sports are basketball and soccer. She loves being able to provide our athletes with something that they will never forget.
      </p>
    </div>
  </columns>
</row>
