<row>
  <columns small="6" large="4">
    <%= image_tag "rep-profile-sherrie.png", class: 'full', alt: "Sherrie Corbett" %>
  </columns>
  <columns small="6" large="8">
    <div class="pl">
      <p>
        <strong>
          Sherrie Corbett
        </strong>
      </p>
      <p>
        Sherrie is our travel manager. She works to make sure that everyone makes it to Australia and back safely. Sherrie has been part of our staff since 1995. She calls Preston, Idaho home. Sherrie does CrossFit every morning and loves kayaking. She also competes in Ragnars. Her favorite sports are basketball and cross country. She loves providing athletes the chance to see Australia.
      </p>
    </div>
  </columns>
</row>
<spacer size="16" class="hr"></spacer>
<row>
  <columns small="6" large="4">
    <%= image_tag "rep-profile-kim.png", class: 'full', alt: "Kim Reneti" %>
  </columns>
  <columns small="6" large="8">
    <div class="pl">
      <p>
        <strong>
          Kim Reneti
        </strong>
      </p>
      <p>
        Kim has been working off and on with Down Under Sports since 1989. She is our assistant travel manager. She helps make preparations with the airlines for our travelers. On top of that, she also works with our medical staff in Australia. Right now, her favorite sport is American football. Kim's favorite part of working at Down Under Sports is meeting hundreds of people every year.
      </p>
    </div>
  </columns>
</row>
