<row>
  <columns small="6" large="4">
    <%= image_tag "rep-profile-anthony.png", class: 'full', alt: "Anthony Reneti" %>
  </columns>
  <columns small="6" large="8">
    <div class="pl">
      <p>
        <strong>
          Anthony Reneti
        </strong>
      </p>
      <p>
        Anthony is one of our recruiters. He grew up in Auckland, New Zealand. He has worked as a tour guide for Down Under Sports since 2013 and started working full-time in our Utah office in January 2019. He enjoys playing basketball and is a big fan of music, especially R&B. He loves working with Down Under Sports because he loves being part of a team.
      </p>
    </div>
  </columns>
</row>
