<container class="header">
  <row>
    <columns>
      <spacer size="16"></spacer>
      <h3 class="text-center">FRIENDLY REMINDER</h3>
    </columns>
  </row>
</container>
<container class="body-border">
  <rows>
    <columns>
      <spacer size="16"></spacer>
      <p>
        We have started to reach out to our travelers; however, it will take some time to get through to everyone. Throughout all of this, we also need to allow our staff time to take care of themselves and their families.
      </p>
      <p>
        Each of our intended 2020 travelers will be contacted in the upcoming weeks, <strong>including our coaches and officials</strong>. You do not need to contact us first. Please allow our staff time to get caught up and work through their assigned lists.
      </p>
      <p>
        Thank you for your patience.
      </p>
      <p>
        &mdash; Down Under Sports
      </p>
    </columns>
  </rows>
</container>
