<% provide :outer_class, "white-mail" %>
<container class="header">
  <row>
    <columns>
      <center>
        <%= image_tag "2021-transfer-banner-1.png", class: 'full', alt: "We Hope to See You in 2021!" %>
      </center>
    </columns>
  </row>
</container>

<container class="body-border smaller-text">
  <row>
    <columns>
      <spacer size="32"></spacer>
      <p>
        For over thirty years, Down Under Sports has been lucky enough to have had thousands of athletes, coaches, and supporters join us in Australia each summer.
      </p>
      <p>
        This is the first time in our company's history that the tournaments have been unable to proceed as planned. Although we must postpone this year's tournaments, we are working harder than ever to make sure that our 2021 travelers will have a great experience.
      </p>
      <p>
        As a small family-owned business, we would like to extend a warm thank you to all of our athletes, coaches, tour guides, vendors, and staff for their continued support. We are excited for the future and grateful for your patience as we navigate this unprecedented situation.
      </p>
      <p>
        Please take as much time as you need to make a decision. Contact our office when you are ready to confirm your plans for next summer.
      </p>
      <p>
        We look forward to hearing from you.
      </p>
      <p>
        &mdash; Down Under Sports
      </p>
    </columns>
  </row>
  <spacer size="32"></spacer>
</container>
