.sport-information
  .list-group
    .list-group-item
      display: flex
      flex-wrap: wrap
      .col:last-child
        color: rgba(7,59,138,1)
        @media(min-width: 768px)
          white-space: nowrap;
