<% if @clock %>
  <div class="row my-5">
    <div class="col">
      <%= form_for @clock, url: admin_clock_path(@clock) do |f| %>
        <p>Original: <%= @clock.created_at.strftime("%T.%L") %> </p>
        <%= time_field_tag "time", @clock.created_at.strftime("%T.%L"), class: 'form-control form-group', step: '.1' %>
        <button class="btn btn-success">UPDATE</button>
      <% end %>
    </div>
    <div class="col">
      <%= form_for @clock, url: admin_clock_path(@clock), method: "DELETE", html: { class: "float-right" } do |f| %>
        <button class="btn btn-danger">DELETE</button>
      <% end %>
    </div>
  </div>


<% else %>
<section>
  <header>
    <h3>
      Clock Not Found
    </h3>
  </header>
</section>
<% end %>
