@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Domine');

.privacy-site-seal
  @media (max-width: 949px)
    display: flex
    justify-content: center
    align-items: center
    width: 100%
  @media (min-width: 950px)
    position: absolute
    right: 2rem
    top: 1rem
  @media print
    display: none!important

.privacy-section
  font-family: 'Domine', serif
  .privacy
    span:first-child
      font-weight: bold
  @media print
    &.p-3.my-5
      background: none !important
      padding: 0 !important
      border: 0 !important
    &, *
      visibility: visible !important
      color: #000 !important
