@charset "UTF-8";
@require 'common/stylus/colors'

.Users.ShowPage
  padding-top: 3rem
  .la-square-jelly-box
    height: 25vw
    width: 25vw
    max-width: 25vh
    max-height: 25vh
    margin: 10vh auto
    color: #153e7c
    div:first-child
      border: 1.5rem solid #d52027

  form
    border: 1px solid rgba(0,0,0,.125)
    border-radius: .25rem
    padding: 1rem

  .card-body
    form
      border: none
