@charset "UTF-8";
.ContactPage {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 1rem 0;
}
.ContactPage .authBtn {
  display: block;
  padding: 1.3rem;
  text-align: center;
  background-color: rgba(2,117,216,0.6);
  width: 100%;
  border: 2px solid #444;
  border-radius: 2px;
  transition: background-color 0.5s ease-in-out;
}
.ContactPage .authBtn,
.ContactPage .authBtn:visited,
.ContactPage .authBtn:hover {
  color: #fafafa;
  text-decoration: none;
}
.ContactPage .authBtn:hover {
  background-color: #5cb85c;
}
