/*
* Typography
* ========================================================================== */
$font-family-base = "Montserrat", "HelveticaNeue-Light", sans-serif
$font-code-base = "Roboto", "CodePro", "Times New Roman", serif
$fa-font-path = "~font-awesome/fonts"

// Font Families
font-family--base = Arial, Helvetica, sans-serif
font-family--roboto = Roboto, font-family--base

// Font Sizes
font-size--base = 14px
font-size--base--print = 10pt
