/*
* Layout
* ========================================================================== */
$border-radius = .25rem
$max-content-width = 500px
$content-background = rgba(0, 0, 0, 0.69)
$content-hl-background = rgba(0, 0, 0, 0.72)
$content-padding = 4%
$content-padding-rem = 4rem
$main-font = "Roboto", "Segoe UI", "Arial", sans-serif
$heading-font = "Montserrat", "Verdana", sans-serif
$default-bg-color = $charcoal
$default-font-color = $white-smoke
$default-container-padding = 1rem
$body-bg = $default-bg-color
$content-bg-color = $almost-white
$heading-sizes = 3rem, 2rem, 1.5rem, 1.3125rem, 1.125rem, 1rem
$header-height = 3rem
$header-font-color = $navy
$header-bg-color = $almost-white
$header-border-color = $white-smoke
$header-padding = 0.25rem 1rem
$header-logo-color = $deep-red
$header-active-font-color = $almost-white
$header-active-bg-color = $navy
$header-full-height = 4rem
$header-full-padding = $default-container-padding
$footing-sizes = 3rem, 2rem, 1.5rem, 1.3125rem, 1.125rem, 1rem
$sports-shield-height = 5rem
$sports-sheild-width = ($sports-shield-height * 90 / 105)
$footer-height = ($sports-shield-height + 2.5rem)
$footer-font-color = $navy
$footer-bg-color = $white
$footer-border-color = $deep-red
$footer-padding = $default-container-padding
$footer-logo-color = $deep-red
$footer-active-font-color = $almost-white
$footer-active-bg-color = $navy
$list-border-color = $white-smoke
$main-content-padding = 3rem 2rem
$link-hover-color = $fire
$link-color = $navy
$button-bg-color = $deep-red
$button-hover-bg-color = $fire
$button-font-color = $white
$button-shadow = 2px 2px 3px $smoke
$button-subtle-shadow = 1px 1px 1px $smoke
$section-width = 70rem
$section-wrapper-margin = 0 auto
$section-wrapper-bg-color = $transparent-blue
$section-default-color = $white
$section-header-paddings = 1rem, 0.5rem, 0.25rem
$section-header-font-size = 2rem, 1rem
$section-header-margin = 0 auto 2rem auto
$section-header-link-width = auto
$section-font-weight = bold
$section-footer-height = 3rem
$section-footer-margin = 0 auto
$section-footer-link-width = 6rem
$section-content-margin = 0 auto
$section-content-paddings = 1rem 0.75rem 0.25rem
$amount-font-color = $fire
$date-font-color = $deep-red
