<% provide :title, "PRINTING ERROR" %>
<div class="row">
  <div class="col text-danger" style="height: 3.5in">
    <div style="line-height: 1in; font-size: 1in; padding: 1in 0; text-align: center;">
      ERROR
    </div>
  </div>
</div>
