@charset "UTF-8";
@require 'common/stylus/colors'

.Assignments
  .la-square-jelly-box
    height: 25vw
    width: 25vw
    max-width: 25vh
    max-height: 25vh
    margin: 10vh auto
    color: #153e7c
    div:first-child
      border: 1.5rem solid #d52027

  .card-body
    form
      border: none

  nav
    margin: 0 auto;
    margin: 2rem 0;
    display: block;

    .page-nav-trigger
      position:absolute
      clip: rect(0, 0, 0, 0);
      right: 0;
      height: 0;
      width: 0;

    .nav-link
      transition: all 0.25s ease-in-out
      text-decoration: none
      white-space: nowrap

      &:hover
        color: rgba(97, 218, 251, 1) !important
        background-color: rgba(32, 67, 115, 1) !important
        z-index: 100
      &.active
        position: relative;
        font-weight: bold
        background-color: initial !important
        color: initial !important

    @media(min-width:768px)
      display: flex;
      flex-flow: row nowrap;
      .nav-link
        background-color: #ddd
        color: #777
        margin-left: .25rem

    @media(min-width:992px) and (max-width:1150px)
      .nav-link
        padding: .5rem .7rem

    @media(min-width:768px) and (max-width:991px)
      .nav-link
        font-size: .9rem;
        padding: .5rem


    @media(max-width:767px)
      border: none

      label[for=user-page-nav-trigger]
      label[for=debit-pages-nav-trigger]
        position: relative;
        cursor: pointer
        & > span
          position:absolute
          display: inline-block;
          right: 1rem
          width: 2rem
          height: 2rem
          span
            position:relative
            top: .85rem
            &,
            &:before,
            &:after
              width: 2rem
              height: .3rem
              background: rgba(255,255,255,.7)
              position: absolute
              display: block
              content: ''
              transition: all 500ms ease-in-out

            &:before
              top: -.5rem

            &:after
              bottom: -.5rem

      .nav-link
        border-radius: unset;
        opacity: 1;
        border-top: 1px solid rgba(255,255,255, 1)
        border-bottom: 1px solid rgba(255,255,255, 1)
        background-color: rgba(34,34,34,1)
        color: #ddd
        overflow: hidden;
        position: relative;

        &.active
          border-color: rgba(34,34,34,1)
          background: rgba(255,255,255, 1)
          display: block !important;
          max-height: 500px
          padding: .5em 1em !important
          border-top: 1px solid rgba(34,34,34, 1)
          border-bottom: 1px solid rgba(34,34,34, 1)
          background-color: rgba(34,34,34,1)
          color: #ddd

      a.nav-link
        max-height: 0
        padding: 0
        border-top-width: 0
        border-bottom-width: 0

      #user-page-nav-trigger:checked
        & ~ .nav-link
          display: block;
          max-height: 100%
          padding: .5em 1em
          background-color: rgba(34,34,34,1)
          color: #ddd
          border-width: 1px

        &+label
          span
            background-color: transparent
            &:before,
            &:after
              background: rgba(251,97,97,.8)
              top: 0
              box-shadow: 0 0 7px 1px #efefef
              width: 2rem
            &:before
              transform: rotate(45deg)
            &:after
              transform: rotate(-45deg)
