.Admin-header
  position: fixed
  top: 0
  z-index: 1000
  transition: background-image 2s ease-in-out
  width: 100vw
  overflow: auto

  & > nav
    border-bottom: 1px solid black
    .nav-item
      border-left: 1px solid #333
      padding: .25rem .5rem
      min-height: 2rem
      position: relative
      &:last-child
        border-right: 1px solid #333
      &.notify
        a
          position: relative
          &::after
            content: ""
            display: block
            background: #F00
            width: 7px
            height: 7px
            border-radius: 7px
            position: absolute
            top: -2px
            right: -7px
      &.text-danger
        a
          color: #dc3545!important

  .header-logo
    img
      max-width: 30px
      max-height: 30px
