@charset "UTF-8";
.Assignments .la-square-jelly-box {
  height: 25vw;
  width: 25vw;
  max-width: 25vh;
  max-height: 25vh;
  margin: 10vh auto;
  color: #153e7c;
}
.Assignments .la-square-jelly-box div:first-child {
  border: 1.5rem solid #d52027;
}
.Assignments .card-body form {
  border: none;
}
.Assignments nav {
  margin: 0 auto;
  margin: 2rem 0;
  display: block;
}
.Assignments nav .page-nav-trigger {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  right: 0;
  height: 0;
  width: 0;
}
.Assignments nav .nav-link {
  transition: all 0.25s ease-in-out;
  text-decoration: none;
  white-space: nowrap;
}
.Assignments nav .nav-link:hover {
  color: #61dafb !important;
  background-color: #204373 !important;
  z-index: 100;
}
.Assignments nav .nav-link.active {
  position: relative;
  font-weight: bold;
  background-color: initial !important;
  color: initial !important;
}
@media (min-width: 768px) {
  .Assignments nav {
    display: flex;
    flex-flow: row nowrap;
  }
  .Assignments nav .nav-link {
    background-color: #ddd;
    color: #777;
    margin-left: 0.25rem;
  }
}
@media (min-width: 992px) and (max-width: 1150px) {
  .Assignments nav .nav-link {
    padding: 0.5rem 0.7rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .Assignments nav .nav-link {
    font-size: 0.9rem;
    padding: 0.5rem;
  }
}
@media (max-width: 767px) {
  .Assignments nav {
    border: none;
  }
  .Assignments nav label[for=user-page-nav-trigger],
  .Assignments nav label[for=debit-pages-nav-trigger] {
    position: relative;
    cursor: pointer;
  }
  .Assignments nav label[for=user-page-nav-trigger] > span,
  .Assignments nav label[for=debit-pages-nav-trigger] > span {
    position: absolute;
    display: inline-block;
    right: 1rem;
    width: 2rem;
    height: 2rem;
  }
  .Assignments nav label[for=user-page-nav-trigger] > span span,
  .Assignments nav label[for=debit-pages-nav-trigger] > span span {
    position: relative;
    top: 0.85rem;
  }
  .Assignments nav label[for=user-page-nav-trigger] > span span,
  .Assignments nav label[for=debit-pages-nav-trigger] > span span,
  .Assignments nav label[for=user-page-nav-trigger] > span span:before,
  .Assignments nav label[for=debit-pages-nav-trigger] > span span:before,
  .Assignments nav label[for=user-page-nav-trigger] > span span:after,
  .Assignments nav label[for=debit-pages-nav-trigger] > span span:after {
    width: 2rem;
    height: 0.3rem;
    background: rgba(255,255,255,0.7);
    position: absolute;
    display: block;
    content: '';
    transition: all 500ms ease-in-out;
  }
  .Assignments nav label[for=user-page-nav-trigger] > span span:before,
  .Assignments nav label[for=debit-pages-nav-trigger] > span span:before {
    top: -0.5rem;
  }
  .Assignments nav label[for=user-page-nav-trigger] > span span:after,
  .Assignments nav label[for=debit-pages-nav-trigger] > span span:after {
    bottom: -0.5rem;
  }
  .Assignments nav .nav-link {
    border-radius: unset;
    opacity: 1;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background-color: #222;
    color: #ddd;
    overflow: hidden;
    position: relative;
  }
  .Assignments nav .nav-link.active {
    border-color: #222;
    background: #fff;
    display: block !important;
    max-height: 500px;
    padding: 0.5em 1em !important;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
    background-color: #222;
    color: #ddd;
  }
  .Assignments nav a.nav-link {
    max-height: 0;
    padding: 0;
    border-top-width: 0;
    border-bottom-width: 0;
  }
  .Assignments nav #user-page-nav-trigger:checked ~ .nav-link {
    display: block;
    max-height: 100%;
    padding: 0.5em 1em;
    background-color: #222;
    color: #ddd;
    border-width: 1px;
  }
  .Assignments nav #user-page-nav-trigger:checked+label span {
    background-color: transparent;
  }
  .Assignments nav #user-page-nav-trigger:checked+label span:before,
  .Assignments nav #user-page-nav-trigger:checked+label span:after {
    background: rgba(251,97,97,0.8);
    top: 0;
    box-shadow: 0 0 7px 1px #efefef;
    width: 2rem;
  }
  .Assignments nav #user-page-nav-trigger:checked+label span:before {
    transform: rotate(45deg);
  }
  .Assignments nav #user-page-nav-trigger:checked+label span:after {
    transform: rotate(-45deg);
  }
}
