@charset "UTF-8";
@require 'common/stylus/colors'

.find-user-page
  padding-top: 1rem
  padding-bottom: 1rem
  margin: 1rem 0
  .la-square-jelly-box
    height: 25vw
    width: 25vw
    max-width: 25vh
    max-height: 25vh
    margin: 10vh auto
    color: #153e7c
    div:first-child
      border: 1.5rem solid #d52027
