.Terms
  ol
    &
    & > li
      list-style-type: decimal
    > li
      h5
        font-weight: bold
    > li > ol
      &
      & > li
        list-style-type: lower-alpha
      > li > ol
        &
        & > li
          list-style-type: lower-roman
        > li > ol
          &
          & > li
            list-style-type: decimal
