.youtubeWrapper
  position: relative;
  padding-bottom: 66%;
  &.keep-aspect
    padding-bottom: 56.25% !important;
  .random-background-image
    display: none

  &.ended
  &.paused
    .random-background-image
    &::after
      position: absolute
      top: 0
      left: 0
      bottom: 0
      right: 0
      cursor: pointer
    &
    // .random-background &
    &.random-background
    // .no-background &
    &.no-background
      &::after
        content: ""
        background-color: black
        background-repeat: no-repeat
        background-position: center
        background-size: 64px, contain
        background-size: 20%, contain
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMjgiIGhlaWdodD0iMTI4IiB2aWV3Qm94PSIwIDAgNTEwIDUxMCI+PHBhdGggZD0iTTI1NSAxMDJWMEwxMjcuNSAxMjcuNSAyNTUgMjU1VjE1M2M4NC4xNSAwIDE1MyA2OC44NSAxNTMgMTUzcy02OC44NSAxNTMtMTUzIDE1My0xNTMtNjguODUtMTUzLTE1M0g1MWMwIDExMi4yIDkxLjggMjA0IDIwNCAyMDRzMjA0LTkxLjggMjA0LTIwNC05MS44LTIwNC0yMDQtMjA0eiIgc3Ryb2tlPSIjMDAwIiBzdHJva2Utd2lkdGg9IjIwIiBmaWxsPSIjRkZGIi8+PC9zdmc+Cg==")
    &::after
      background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMjgiIGhlaWdodD0iMTI4IiB2aWV3Qm94PSIwIDAgNTEwIDUxMCI+PHBhdGggZD0iTTI1NSAxMDJWMEwxMjcuNSAxMjcuNSAyNTUgMjU1VjE1M2M4NC4xNSAwIDE1MyA2OC44NSAxNTMgMTUzcy02OC44NSAxNTMtMTUzIDE1My0xNTMtNjguODUtMTUzLTE1M0g1MWMwIDExMi4yIDkxLjggMjA0IDIwNCAyMDRzMjA0LTkxLjggMjA0LTIwNC05MS44LTIwNC0yMDQtMjA0eiIgc3Ryb2tlPSIjMDAwIiBzdHJva2Utd2lkdGg9IjIwIiBmaWxsPSIjRkZGIi8+PC9zdmc+Cg=="), url("https://img.youtube.com/vi/YSx01E_UiBA/maxresdefault.jpg")
    // .alt-background &
    &.alt-background
      &::after
        // filter: invert(1)
        background-size: 20%, 50%
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMjgiIGhlaWdodD0iMTI4IiB2aWV3Qm94PSIwIDAgNTEwIDUxMCI+PHBhdGggZD0iTTI1NSAxMDJWMEwxMjcuNSAxMjcuNSAyNTUgMjU1VjE1M2M4NC4xNSAwIDE1MyA2OC44NSAxNTMgMTUzcy02OC44NSAxNTMtMTUzIDE1My0xNTMtNjguODUtMTUzLTE1M0g1MWMwIDExMi4yIDkxLjggMjA0IDIwNCAyMDRzMjA0LTkxLjggMjA0LTIwNC05MS44LTIwNC0yMDQtMjA0eiIgc3Ryb2tlPSIjMDAwIiBzdHJva2Utd2lkdGg9IjIwIiBmaWxsPSIjRkZGIi8+PC9zdmc+Cg=="), url("/dus-logo.png")

    // .random-background &
    &.random-background
      &::after
        background-color: transparent
      .random-background-image
        display: block
        min-width: 100%
        min-height: 100%

    &.fullscreen-background
    // .fullscreen-background &
      &::after
        top: 0 !important
        bottom: 0 !important
        left: -1px !important
        right: -1px !important

    &.rounded-bottom
      &::after
        border-bottom-right-radius: .25rem !important
        border-bottom-left-radius: .25rem !important

  &.paused
    &
    &.alt-background
    // .alt-background &
    &.random-background
    // .random-background &
    &.no-background
    // .no-background &
      &::after
        top: 15%
        bottom: 15%
        background-size: 20%, contain
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEiIHdpZHRoPSIxNzA2LjY2NyIgaGVpZ2h0PSIxNzA2LjY2NyIgdmlld0JveD0iMCAwIDEyODAgMTI4MCI+PHBhdGggZD0iTTE1Ny42MzUgMi45ODRMMTI2MC45NzkgNjQwIDE1Ny42MzUgMTI3Ny4wMTZ6IiBzdHJva2U9IiMwMDAiIHN0cm9rZS13aWR0aD0iMjAiIGZpbGw9IiNGRkYiLz48L3N2Zz4K")
    &.random-background
    // .random-background &
      .random-background-image
        display: none
      &::after
        background-color: black

    // .paused-background &
    &.paused-background
      &::after
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEiIHdpZHRoPSIxNzA2LjY2NyIgaGVpZ2h0PSIxNzA2LjY2NyIgdmlld0JveD0iMCAwIDEyODAgMTI4MCI+PHBhdGggZD0iTTE1Ny42MzUgMi45ODRMMTI2MC45NzkgNjQwIDE1Ny42MzUgMTI3Ny4wMTZ6IiBzdHJva2U9IiMwMDAiIHN0cm9rZS13aWR0aD0iMjAiIGZpbGw9IiNGRkYiLz48L3N2Zz4K"), url("https://img.youtube.com/vi/YSx01E_UiBA/maxresdefault.jpg")
    // .alt-background.paused-background &
    &.alt-background.paused-background
      &::after
        // filter: invert(1)
        background-size: 20%, 50%
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEiIHdpZHRoPSIxNzA2LjY2NyIgaGVpZ2h0PSIxNzA2LjY2NyIgdmlld0JveD0iMCAwIDEyODAgMTI4MCI+PHBhdGggZD0iTTE1Ny42MzUgMi45ODRMMTI2MC45NzkgNjQwIDE1Ny42MzUgMTI3Ny4wMTZ6IiBzdHJva2U9IiMwMDAiIHN0cm9rZS13aWR0aD0iMjAiIGZpbGw9IiNGRkYiLz48L3N2Zz4K"), url("/dus-logo.png")

    // .random-background.paused-background &
    &.random-background.paused-background
      &::after
        background-color: transparent
      .random-background-image
        display: block
        min-width: 100%
        min-height: 100%

  iframe
  object
  embed
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    border-width: 0
    border-color: transparent
