@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Domine");
.terms-section {
  font-family: 'Domine', serif;
}
.terms-section .term span:first-child {
  font-weight: bold;
}
@media print {
  .terms-section.p-3.my-5 {
    background: none !important;
    padding: 0 !important;
    border: 0 !important;
  }
  .terms-section,
  .terms-section * {
    visibility: visible !important;
  }
}
