.chat-wrapper
  padding: 1rem !important;
  overflow: auto
  background: #000080
  color: #fff
  &.true
    background: #222
  .chat-header
    *
      color: #FFF
      text-align: center

  .chat-messages
    min-height: 200px
    max-height: 50vh
    // border: 1px solid #222
    background: #DDF
    border-radius: .25rem
    padding: 1rem
    overflow: auto

    @media (max-width: 889px)
      max-height: unset
      height: 50vh
      width: 90vw

    .chat-label
      position: relative
      display: flex
      flex-flow: row nowrap
      justify-content: space-between;
      align-items: center

    .chat-bubble
      position: relative
      background: #ffffff
      border-radius: .4em
      margin-bottom: 1rem
      padding: .5rem
      font-size: 1rem
      white-space: pre-wrap
      a
        color: navy
        text-decoration: underline
      &::after
        content: ''
        position: absolute
        top: 100%
        width: 0
        height: 0
        border: 1rem solid transparent
        margin-top: -1.2rem
      &.right
        &::after
          right: 0
          border-left-color: #ffffff
          border-right: 0
          border-bottom: 0
          margin-right: -14px
      &.left
        background: #6fc1ff
        &::after
          left: 0
          border-right-color: #6fc1ff
          border-left: 0
          border-bottom: 0
          margin-left: -14px



  .chat-messages
  input
  textarea
    color: #222

  .quick-replies
    display: flex
    flex-flow: row wrap
    margin-left: -.5rem
    margin-right: -.5rem
    button
      white-space: nowrap
      margin: .5rem
      display: block
