.Terms ol,
.Terms ol > li {
  list-style-type: none;
}
.Terms ol > li > ol,
.Terms ol > li > ol > li {
  list-style-type: lower-alpha;
}
.Terms ol > li > ol > li > ol,
.Terms ol > li > ol > li > ol > li {
  list-style-type: lower-roman;
}
.Terms ol > li > ol > li > ol > li > ol,
.Terms ol > li > ol > li > ol > li > ol > li {
  list-style-type: decimal;
}
